<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/HomeStyle.css">
  <title>GoNuts</title>
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1><span>G</span><small>o</small><span>N</span><small>uts</small></h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="#hero" data-after="Home">Home</a></li>
            <li><a href="/AdminConcertAddRemove" data-after="Projects">Concerts</a></li>
            <li><a href="/AdminBands" data-after="Bands">Bands</a></li>
            <li><a href="/AdminProfile" data-after="My Profile">Admin Profile</a></li> 
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Hello, <span></span></h1>
        <h1>Welcome to, <span></span></h1>
        <h1>GoNuts!<span></span></h1>

      </div>
    </div>
  </section>
  <!-- End Hero Section  -->

  <!-- Service Section -->
  <section id="services">
    <div class="services container">
      <div class="service-top">
        <h1 class="section-title">V<small>e<span>NU</span>es</small></h1>
        <p>A venue is the place where an event or meeting is happening. If you're going to see the best band ever, you should get to the venue early to get a good seat. 
           Venue is derived from the Latin for "come" (venire), and it's a place people come to. <br>
           Here are some major venues of Bangladesh -
        </p>
      </div>
      <div class="service-bottom">
        <div class="service-item">
          <div class="icon"><img src="\Venue.png" /></div>
          <h2>Bangladesh Army Stadium</h2>
          <p>Location: RC43+5MC, Dhaka - Mymensingh Hwy, Dhaka 1212</p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="\Venue.png" /></div>
          <h2>ICCB Hall 4</h2>
          <p>Location: Kuril Bishwa Road, Next to 300 ft, Purbachal Express Hwy, Dhaka 1229</p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="\Venue.png" /></div>
          <h2>ICCB Expo Zone</h2>
          <p>Location: ICCB, Purbachal Link Road, Dhaka<br><br></p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="\Venue.png" /></div>
          <h2>Bangabandhu National Stadium</h2>
          <p>Location: Bangabandhu National Stadium Rd, Dhaka 1000</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Venues Section -->

  <!-- Projects Section -->
  <section id="projects">
    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title">Upcoming <span>Concerts</span></h1>
      </div>
      <div class="all-projects">
        <div class="project-item">
          <div class="project-info">
            <h1>Joy Bangla Concert</h1>
            <h2>Bangladesh Army Stadium</h2>
            <p>Bands: Artcell, Avoid Rafa, Lalon, Chirkutt, Cryptic Fate, Karnival, Meghdol, Nemesis, and 
               Arekta Rock Band</p>
          </div>
          <div class="project-img">
            <img src= "https://i.ytimg.com/vi/lAZKgDAln10/maxresdefault.jpg" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Dhaka Rock Fest</h1>
            <h2>ICCB Expo Zone</h2>
            <p>Bands: Apekkhik, Arekta Rock Band, Artcell, Bangla Five, Bangu Bibi, Brahmaputra, Cryptic 
               Fate, Fantasy Realm, Karnival, Nemesis, Owned, Power Surge, Sonar Bangla Circus, Torture Goregrinder, Trainwreck, and Unmaad</p>
          </div>
          <div class="project-img">
            <img src="https://i.ytimg.com/vi/EE4sFaW9uQA/maxresdefault.jpg" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>BRAC Hope Festival 2023</h1>
            <h2>Bangladesh Army Stadium</h2>
            <p>Bands: Fazlur Rahman Babu, Nagar Baul (James), Arnob, Artcell, Lalon band and Nemesis</p>
          </div>
          <div class="project-img">
            <img src="https://i.ytimg.com/vi/AL62aJ51Sog/hq720.jpg?sqp=-oaymwE7CK4FEIIDSFryq4qpAy0IARUAAAAAGAElAADIQj0AgKJD8AEB-AH-CYAC0AWKAgwIABABGEggQyh_MA8=&rs=AOn4CLA4GCLOdwEOu2MPFTEXHaz25LzORA" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Dhaka Summer Con</h1>
            <h2>International Convention City, Bashundhara</h2>
            <p>Old Dhaka Diaries”, “Firoze Jong”, “Indalo”, “Bangla Five”,
               “Level Five”, “Owned”, “Odd Signature”, “Dads in the Park”, “Hatirpool Sessions and 30 others.</p>
          </div>
          <div class="project-img">
            <img src="https://i.ytimg.com/vi/P5DzXGGN3Jk/hq720.jpg?sqp=-oaymwE7CK4FEIIDSFryq4qpAy0IARUAAAAAGAElAADIQj0AgKJD8AEB-AH-CYAC0AWKAgwIABABGH8gGSgoMA8=&rs=AOn4CLCFz4uxk-Eq_MV2POahOap0psoMAA" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Coke Studio Bangla Concert</h1>
            <h2>Coke Studio Bangla Concert</h2>
            <p>Singers: Meghdol.
              Mejbaur Rahman Sumon,
              Mukul Mojumder Ishaan,
              Riad Hasan,
              Pollob Vai,
              Sanzida Mahmood Nandita,
              Shibu Kumer Shill,
              Towfique Ahmed and Pritom Hasan.
              </p>
          </div>
          <div class="project-img">
            <img src="https://tds-images.thedailystar.net/sites/default/files/images/2022/06/10/thumbnail_2.jpg" alt="img">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Projects Section -->

  <!-- About Section -->
  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="https://images-platform.99static.com//lXWVSdnoXrnDwCD9xPPoE9pCfUo=/25x1708:941x2624/fit-in/500x500/99designs-contests-attachments/95/95526/attachment_95526469" alt="img">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">About <span>GoNuts</span></h1>
        <h2>Concert Ticket Management Company LTD.</h2>
        <p><br>Welcome to GoNuts! We are your ultimate destination for hassle-free and convenient concert ticket management. Our platform is designed to revolutionize the way you experience live music 
          and events, making it easier than ever to secure your spot at your favorite concerts. 
          <br><br>At GoNuts, we understand the excitement and anticipation that comes with attending a live concert. That's why we've created a user-friendly and intuitive platform that brings together 
          music enthusiasts and concert organizers in one seamless hub. Our mission is to provide you with a comprehensive ticket management solution that ensures you never miss out on the electrifying
          atmosphere of a live performance.
          
          <br><br>Our Services:
          
          <br>1. Secure Ticket Booking: With just a few clicks, you can browse through upcoming concerts, check availability, and secure your tickets in advance. Our secure payment gateway ensures a 
          safe and hassle-free booking experience.
          
          <br>2. Personalized Dashboard: Create your personalized account to keep track of all your booked tickets, upcoming events, and exclusive offers. Your dashboard is your one-stop destination 
          for managing your concert experiences.
          
          <br>3.Customer Support: Have a question or need assistance? Our dedicated customer support team is always here to help, ensuring a smooth and enjoyable experience from start to finish.
          
          <br><br>Why Choose Us:
          
          <br>1.User-Centric: Our platform is designed with you in mind. We prioritize user-friendliness, convenience, and reliability to enhance your concert-going experience.
          
          <br>2.Wide Selection: Discover an extensive range of concerts and events across different genres, giving you the freedom to explore and choose your favorites.
          
          <br>3.Secure Transactions: Your security is our top priority. Our secure payment gateway and data protection measures ensure a worry-free ticket booking process.
          
          <br><br>At GoNuts, we're more than just a ticketing platform. We're your partner in creating unforgettable memories and experiencing the magic of live music. Join us on this exciting journey and let's make every concert a memory to cherish.
          
          <br><br>Feel the beat, live the moment. Welcome to GoNuts!</p>

      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- Contact Section -->
  <section id="contact">
    <div class="contact container">
      <div>
        <h1 class="section-title">Contact <span>info</span></h1>
      </div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
          <div class="contact-info">
            <h1>Phone</h1>
            <h2>+8801799999999</h2>
            <h2>+8801788888888</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
          <div class="contact-info">
            <h1>Email</h1>
            <h2>GoNutsUrgency@gmail.com</h2>
            <h2>GoNutsVariousInfo@gmail.com</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
          <div class="contact-info">
            <h1>Address</h1>
            <h2>Dhaka, Bangladesh</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>Go</span>N<span>uts</span> !</h1>
      </div>
      <h2>Book Ticket Now !!</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png" /></a>
        </div>
      </div>

    </div>
  </section>
  <!-- End Footer -->
  <script src="./app.js"></script>
</body>

</html>