<!DOCTYPE html>

<html> 
    <head>
        <title>Add Concerts</title>
    </head>
    <body>

        <form action = "/auth/AddConcerts" method = "POST"> <!saving the input>
            <h1>Concert Informations</h1>
            <div class = "textBoxdiv">
                <input type = "text" placeholder = "Concert ID" name = "id"> 
            </div>
            <br>
            <div class = "textBoxdiv">
                <input type = "text" placeholder = "Concert Name" name = "name">
            </div>
            <br>
            <div class = "textBoxdiv">
                <input type = "date" placeholder = "Concert Date" name = "date">
            </div>
            <br>
            <div class = "textBoxdiv">
                <input type = "text" placeholder = "Concert Description" name = "description">
            </div>
            <br>
            <div class = "textBoxdiv">
                <input type = "text" placeholder = "Concert VenueID", name = "venueid">
            </div>
            <br>
            <div class = "textBoxdiv">
                <input type = "text" placeholder = "Type", name = "type">
            </div>
            <br>
            <input type = "submit" value = "Submit" class = "SignupCSS">
            
        </form>
        
        {{#if message}}
            <h4 class = "alert alert-danger mt-4">{{message}}</h4>
        {{/if}}



    </body>
</html>