<!DOCTYPE html>
<html>

    <head>
        <title>Add/Remove Bands</title>
    </head>
    
    <body>
        <form action="/AdminAddBands" method="GET">
            <h1>Want to add or remove bands?</h1>
            To Add: <button type="submit">Add</button><br><br>
        </form>
        
        <form action="/AdminRemoveBands" method="GET">
            To Remove: <button type="submit">Remove</button>
        </form>
    </body>

</html>