<!DOCTYPE html>
<html> 
    <head>
        <title>Concert Ticket Signup</title>
        <link rel = "stylesheet" href = "/SignupStyle.css"  media="screen">
    </head>
    <body>

        <form action = "/auth/SignupStructure" method = "POST"> <!saving the input>
            <h1>Signup</h1>
            <div class = "textBoxdiv">
                <input type = "text" placeholder = "Username" name = "username">
            </div>
            <div class = "textBoxdiv">
                <input type = "text" placeholder = "Name" name = "name">
            </div>
            <div class = "textBoxdiv">
                <input type = "email" placeholder = "Email" name = "email">
            </div>

            <div class = "textBoxdiv">
                <input type = "text" placeholder = "NID Number" name = "nidNumber">
            </div>

            <div class = "textBoxdiv">
                <input type = "text" placeholder = "Phone Number" name = "phoneNumber">
            </div>
            
            <div class = "textBoxdiv">
                <input type = "password" placeholder = "Create Password", name = "password">
            </div>

            <div class = "textBoxdiv">
                <input type = "password" placeholder = "Confirm Password", name = "passwordConfirm">
            </div>

            <input type = "submit" value = "Signup" class = "SignupCSS">

            <div class = "singup">
                Already have an account?
            <a href = "LoginStructure">Sign in</a>
            </div>
                
        </form>
        
        {{#if message}}
            <h4 class = "alert alert-danger mt-4">{{message}}</h4>
        {{/if}}



    </body>
</html>