<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\Tickets.css">
    <title>Concert Ticket Booking</title>
</head>
<body>
    <header>
        <h1>Concert Ticket Booking</h1>
    </header>
    <main>
        <section class="upcoming-concerts">
            <a href = '/Concerts'><h2>Upcoming Concerts</h2></a>
            <widget type="ticket" class="widget-gap"> 
                <div class="top --flex-column">
                    <div class="bandname -bold">Buy Tickets For Your Favourite Concert!</div>
               
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/199011/concert.png" alt="" />
                    <div class="deetz --flex-row-j!sb">
                       <div class="event --flex-column">
                          <div class="text"><b>Just put your correct Username and make sure to grab the Concert ID of the concert you want to attend from the upcoming concerts page!</b></div>
                          <div class="location -bold">
                       <div class="price --flex-column">
                          <div class="label">x_x</div>
                          <div class="cost -bold">O_o</div>
                       </div> 
                    </div> 
                 </div>
                 <div class="rip"></div>
                 <div class="bottom --flex-row-j!sb">
                    <div class="barcode"></div>
                    
                    <a class="buy" href="\BuyTickets">BUY TICKET</a>
                 </div>
            </widget>
            {{!-- <br>
            <widget type="ticket" class="widget-gap"> 
                <div class="top --flex-column">
                    <div class="bandname -bold">Hatirpool Sessions</div>
                    <div class="tourname">Home Tour</div>
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/199011/concert.png" alt="" />
                    <div class="deetz --flex-row-j!sb">
                       <div class="event --flex-column">
                          <div class="date">5th September 2023</div>
                          <div class="location -bold">Dhaka, Bangladesh</div>
                       </div>
                       <div class="price --flex-column">
                          <div class="label">Price</div>
                          <div class="cost -bold">৳300/৳400</div>
                       </div> 
                    </div> 
                 </div>
                 <div class="rip"></div>
                 <div class="bottom --flex-row-j!sb">
                    <div class="barcode"></div>
                    
                    <a class="buy" href="\BuyTickets">BUY TICKET</a>
                 </div>
            </widget> --}}
            
        </section>
    </main>
    <footer>
        <p>&copy; GoNuts</p>
    </footer>
</body>
</html>
